.pageLayout
{
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    background-color: var(--bg-color);
    color: var(--text-color);
}

.mainWrapper
{
    width: 100%;
    margin-top: 14vh;
    display: flex;
    align-items: flex-start;
    background-color: var(--bg-color);
    font-family: Arial, sans-serif;
    flex: 1;
}

@media (max-width: 830px)
{
    .pageLayout
    {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .mainWrapper
    {
        flex: 1;

        display: flex;
        flex-direction: column;

        align-items: center;

        width: 100%;
        margin-top: 5vh;

        padding: 10px;
        box-sizing: border-box;
    }
}