.postContainer
{
    width: 25vw;
    background: var(--card-color);
    border: 1px solid var(--border-color);
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.postText
{
    color: var(--text-color);
    margin-top: 7px;
    margin-bottom: 10px;
    font-size: 20px;
    overflow-wrap: break-word;
}

.postDesc
{
    color: var(--secondary-text);
    margin-top: 10px;
    font-size: 15px;
    overflow-wrap: break-word;  
}

.postImage
{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    height: 65%;
    object-fit: contain !important;
    max-height: 40vh;
}

.postActions
{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.commentsBox
{
    padding: 10px 0;
    border-top: 1px solid var(--border-color);
}

.comment
{
    color: var(--secondary-text);
    padding: 4px 0;
}

.commentInput
{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.commentField
{
    color: var(--text-color) !important;
    flex: 1;
    border-radius: 20px !important;
    background: var(--input-bg-color) !important;
}

.commentField.ant-input::placeholder, .commentField.ant-input-affix-wrapper input::placeholder
{
    color: var(--secondary-text);
}


.sendBtn
{
    color: var(--primary-color) !important;
    font-size: 18px;
}

.customTag
{
    display: flex;

    align-items: center;
    justify-content: center;

    background: color-mix(in srgb, var(--interest-color) 20%, transparent);
    color: var(--interest-color);

    height: 30px;
    width: auto;

    font-size: 13px;

    backdrop-filter: blur(4px);
}

.tagsBox
{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 3px;
    width: 100%;
    margin-bottom: 10px;
}

.likesBox
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.likesCount
{
    color: var(--text-color);
    display: flex;
    justify-content: center;
    font-size: 15px;
    align-items: center;
    flex-direction: column;
    padding-top: 5px;
}

.bottomPart
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;    
}

/*  quickEmojis_____________________________________________________________________*/
.emojiBar 
{
    display: flex;
    gap: 6px;
    margin: 8px 0;
    align-items: center;
    max-width: 90%;
    justify-content: space-between;
}

.emojiBtn 
{
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    transition: 0.2s;
}

.emojiBtn:hover 
{
    transform: scale(1.2);
}

.pickerBtn 
{
    font-size: 16px;
}

.commentInput 
{
    display: flex;
    align-items: center;
    gap: 10px;
}

.commentField 
{
    flex: 1;
}

.emojiWrapper 
{
    position: relative;
    max-height: 200px;
}

.emojiPicker 
{
    position: absolute;
    bottom: 20px;
    left: 0;
    z-index: 1000;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    border-radius: 10px;
}

.EmojiPickerReact
{
    background-color: var(--card-color) !important;
    border: 1px solid var(--border-color);
    border-radius: 10px;
}

.epr_-tzp699
{
    border: 1px solid var(--border-color) !important;
}

.epr_-8623pq
{
    background-color: var(--card-color) !important;
}

.epr_-99lr9q
{
    background-color: var(--card-color) !important;
}

.userHeaderPost
{
    display: flex;
    gap: 10px;
    
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border-color);
}

.userInfoPost
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nicknamePost
{
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.usernamePost
{
    font-size: 13px;
    color: gray;
    cursor: pointer;
}

.usernamePost:hover
{
    text-decoration: underline;
}

.userAvatarPost:hover
{
    cursor: pointer;
}


@media (max-width: 830px)
{
    .postContainer
    {
        width: 100%;
        max-width: 520px;

        margin: 10px auto;

        border-radius: 0; /* full feed style */
        border-left: none;
        border-right: none;

        padding: 12px;
    }

    .postText
    {
        font-size: 16px;
    }

    .postDesc
    {
        font-size: 13px;
    }

    .postImage
    {
        height: auto;
        max-height: 400px;
        object-fit: cover !important;
    }

    .postActions
    {
        justify-content: space-between;
        gap: 5px;
    }

    .tagsBox
    {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .commentField
    {
        font-size: 14px;
    }

    .sendBtn
    {
        font-size: 16px;
    }
}